.nav-color{
    background-color: pink;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.mr-auto, .mx-auto {
    margin-left: 900px;
}

#izzyspic{
    margin-top: -80px;
    margin-left: 15px;
    border-radius: 15%;
}

.introduction{
    text-align: center;
    margin-top: 80px;
}
.introduction1{
    text-align: center;
}


.jigsaw1, .jigsaw2, .jigsaw3, .jigsaw4, .jigsaw5, .jigsaw6, .jigsaw7, .jigsaw8 {
    width: 6em;
    height: 6em;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    cursor: pointer;
  }
  
  .jigsaw1,
  .jigsaw1 span {
   background-color: #FF1493; 
  }
  
  .jigsaw2,
  .jigsaw2 span {
   background-color: #FF69B4; 
  }

  .jigsaw3,
  .jigsaw3 span {
   background-color: #FFB6C1; 
  }
  .jigsaw4,
  .jigsaw4 span {
   background-color: #F2BDCD; 
  }

  .jigsaw5,
  .jigsaw5 span {
   background-color: #E75480; 
  }

  .jigsaw6,
  .jigsaw6 span {
   background-color: #E754CA; 
  }
  
  .jigsaw7,
  .jigsaw7 span {
   background-color: #FF83A8; 
  }

  .jigsaw8,
  .jigsaw8 span {
   background-color: #F5CAE6; 
  }

  .text {
    display: block;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 1.9em 0 0 1.2em;
    position: relative;
    background: transparent !important;
  }
  
  .jigsaw1 .t, .jigsaw2 .t, .jigsaw3 .t, .jigsaw4 .t, .jigsaw5 .t, .jigsaw6 .t, .jigsaw7 .t, .jigsaw8 .t {
    width: 2em;
    height: 2em;
    position: absolute;
    top: -1.5em;
    left: 2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
  }
  
  .jigsaw1 .r, .jigsaw2 .r, .jigsaw3 .r, .jigsaw4 .r, .jigsaw5 .r, .jigsaw6 .r, .jigsaw7 .r, .jigsaw8 .r {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 2em;
    left: 5.5em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
  }
  
  .jigsaw1 .b, .jigsaw2 .b, .jigsaw3 .b, .jigsaw4 .b, .jigsaw5 .b, .jigsaw6 .b, .jigsaw7 .b, .jigsaw8 .b  { 
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 4.5em;
    left: 2.2em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
  }
  
  .jigsaw1 .l, .jigsaw2 .l, .jigsaw3 .l, .jigsaw4 .l, .jigsaw5 .l, .jigsaw6 .l, .jigsaw7 .l, .jigsaw8 .l { 
    width: 1.8em;
    height: 1.8em;
    position: absolute;
    top: 2.2em;
    left: -.4em;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    background-color: #fff;
  }


#puzzle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.page {
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#page2{
    background-color: pink;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20%;
}

#aboutme-text{
    color: white;
}


.frameworks{
    color: #FF69B4;
}


#paratext{
    box-sizing: border-box;
}

.card{
    margin-top: 20px;
    margin-left: 350px;
    width: 50%;
    height: 50%;
}

.videoRevive{
    margin-left: 35px;
    margin-top: 40px;
}

#revivetext{
    text-align: center;
    margin-left: 630px;
    position: relative;
    bottom: 400px;
}

#page4{
    background-color: pink;
}

a {
    color: transparent;
    text-decoration: none;
    background-color: transparent;
}

.videosupreme{
    position: relative;
    float: right;
    margin-right: 35px;
}

#supremetext{
    position: relative;
    top: 200px;
    left: 10px
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: pink;
    border: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: pink;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

#page6{
    background-color: pink;
}

#izzyspic2{
    margin-left: 25px;
    border-radius: 15%;
}

#contactme{
    text-align: center;
    color: #fff;
    position: relative;
    top: 50px;
    font-size: 50px;
}

#github{
    margin-right: 20px;
}

#linkedin{
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

#email{
    width: 215px;
    height: 215px;
    margin-left: 60px;
}

.icons{
    padding: 20px;
    margin-left: 500px;
    position: relative;
    bottom: 300px;
}